
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    /*background-color: purple;*/
}


/* App-js style*/
.app--container{
    margin: 20px auto;
    padding: 20px 10px;
    height: 800px;
    background-color: burlywood;
}

.app--container--two{
    border-radius: 10px;
    margin: 20px auto;
    background-color: lightcoral;
    border: 1px solid white;
    width: 317px;
}

/* main style*/
.main--container{
    
}

.main--heading{
    font-size: 30px;
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.main--h4--one{
 text-align: center;
 margin-top: 0px;
 margin-bottom: 7px;
 color: antiquewhite;
}

.main--span--two{
    display: block;
    text-align: center;
    font-size: 12px;
}

.main--btn{
    width: 115px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    border: none;
    outline: none;
}

.btn--email{
 background-color: white;
 color: black;
 display: flex;
 font-size: 15px;
}

.btn--linkedin{
    background-color: white;
    color: black;
    display: flex;
    font-size: 15px;
}

.email{
height: 20px;
margin: 3px;
}

.linkedin{
height: 20px;
margin: 3px;
}



/* footer style*/
.footer--container{
 width: 317px;
 height: 64px;
}

.footer--image{
    width: 25px;
    height: 25px;
}